.qts-img {
    width: 400px; 
    height: 400px;
    height: auto; 
    object-fit: cover; 
}

.qts-box {    padding: 10px;
}

.accordion-button {
    border-radius: 50px;
    transition: background-color 0.3s ease; 
}

.accordion-button:not(.collapsed) {
    background-color: #f0f0f0; 
}
