html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Make sure the main content takes the remaining height */
body > section, .main-content {
    flex: 1;
}

/* Footer Styling */
#footer-section {
    width: 100%;

    color: #000000;
    padding: 20px;
    text-align: center;
    position: relative;
}
.listing-box{
    padding: 20px;
}
.pagination .page-link {
    color: #000; 
    background-color: transparent;
    border: none; 
    margin: 0 9px; 
}

.pagination .page-item.active .page-link {
    background-color: #80d0c7; 
    color: #fff; 
    border-radius: 5px; 
}

.pagination .page-item .page-link[aria-label="Previous"],
.pagination .page-item .page-link[aria-label="Next"] {
    background-color: #f0f8ff; 
    color: #000; 
    border-radius: 5px; 
    padding: 0.5rem 1rem; 
}

.pagination .page-item .page-link:hover {
    background-color: #e0f7fa;
    color: #000; 
}
