.block{
    display: block;

    width: 100px;
}
.para{
    vertical-align: middle;
    display: inline-block;
    width: 200px;
}
.url{
    padding: 10px 10px 10px 10px;
    width: 300px;
    border:none;
    border-radius: 30px;
    align-items: center;
    box-shadow: 2px 2px 1px 3px rgba(210, 199, 199, 0.5);
}
.image{
width: 200px;
display: block;
margin-left: 50px;
  
}
